<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="sections" id="row_one">
        {{anime_one}}
    </div>
    <div class="sections" id="row_two">
        {{anime_two}}
    </div>
    <div class="sections" id="row_three">
        {{anime_three}}
    </div>
    <div class="sections" id="row_four">
        {{anime_four}}
    </div>
    <div class="sections" id="row_five">
        {{anime_five}}
    </div>
    {{anime}}
</body>
</html>